.recommendation {
	@include container;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include respond_to(to_desktop) {
		flex-direction: column;
		margin: 75px 0;
		align-items: flex-start;
	}

	&-info {
		flex: 1 1 percentage($site-width, 224);
		max-width: percentage($site-width, 224);

		@include respond_to(desktop_small) {
			flex: 1 1 percentage(984, 224);
			max-width: percentage(984, 224);
		}

		@include respond_to(to_desktop) {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}

	&-title {
		font-size: rem(12);
		color: $black01;
		margin-bottom: 30px;
		font-weight: $regular;

		@include respond_to(mobile_to_tablet){
			margin-bottom: 15px;
		}
	}

	&-headline {
		font-size: rem(36);

		@include respond_to(mobile_to_tablet){
			font-size: rem(24);
			margin-bottom: 20px;
		}
	}

	&-list {
		flex: 1 1 percentage($site-width, 966);
		max-width: percentage($site-width, 966);
		display: flex;
		flex-wrap: wrap;

		@include respond_to(desktop_small) {
			flex: 1 1 percentage(984, 737);
			max-width: percentage(984, 737);
		}

		@include respond_to(to_desktop) {
			flex: 1 1 100%;
			max-width: 100%;
		}

		@include respond_to(mobile_to_tablet){
			margin-top: -30px;
		}
	}

	&-item {
		flex: 1 1 percentage(966, 304);
		text-align: center;
		padding: 0 20px;

		@include respond_to(desktop_small) {
			flex: 1 1 percentage(737, 228);
			max-width: percentage(737, 228);
		}

		@include respond_to(mobile_to_tablet){
			margin-top: 30px;
			flex: 1 1 50%;
			max-width: 50%;
			padding: 0 10px;
		}
	}

	&-image {
		&-wrapper {
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&-name {
		@include inline-block;
	}

	&-link {
		font-size: rem(14);
		color: $black01;
	}

	&-add_wishlist {
		@include icon(heart-regular);
		@include inline-block;

		margin-left: 10px;

		&:hover {
			text-decoration: none;
		}

		&::before {
			font-size: rem(12);
			color: $black01;
		}

		&.active {
			@include icon(heart-solid);

			&::before {
				font-size: rem(12);
				color: $black01;
			}
		}
	}
}
