// COLORS
$white01 : #ffffff;

$grey01 : #cccccc;
$grey02 : #f0f0f0;
$grey03 : #aaaaaa;
$grey04 : #a3a3a3;

$blue01 : #c4d5e8;
$blue02 : #0b2171;
$blue03 : #c4d5e8;

$red01 : #de0000;

$black01 : #000000;

//FONT WEIGHT
$bold : 700;
$semibold: 600;
$regular : 400;
$black : 900;

// FONT SIZE
$base-font-size : 10;

// SITE WIDTH
$site-width : 1350;

