body {
	font-family: Apercu, sans-serif;
	color: $black01;
}

h2 {
	font-size: rem(36);
	margin-bottom: 24px;

	@include respond_to(mobile) {
		font-size: rem(24);
	}
}

h3 {
	font-size: rem(24);

	@include respond_to(mobile) {
		font-size: rem(18);
	}
}

h4 {
	font-size: rem(16);

	@include respond_to(mobile) {
		font-size: rem(14);
	}
}

input {
	padding-bottom: 12px;
	font-size: rem(13);
	color: $black01;
	border-bottom: 1px solid $blue01;

	&:hover, &:focus {
		border-bottom: 1px solid $blue02;
	}

	&::placeholder {
		color: $grey04;
	}
}

.sticky-wrapper {
	position: relative;
	z-index: 10;
}
